@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 0.3;
    }
    70% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.section {
    min-width: 417px;
    height: 100%;
    display: block;
    margin: 50px 0px 140px 623px;
    white-space: nowrap;
    font-size: 16px;
    white-space: nowrap;
    animation: fadeIn 900ms ease-out;
}